<div>
	<%= link_to 'Edit', edit_user_path(@user) %>

	<h1>Welcome <%= @user.first_name %></h1>

	<h2>Your Created Alerts</h2>
	<ul>
		<% @created_alerts.each do |alert| %>
			<li><%= link_to alert.created_at, alert_path(alert) %></li>
		<% end %>
	</ul>

		<h2>Your Accepted Alerts</h2>
	<ul>
		<% @alerts.each do |alert| %>
			<li><%= link_to alert.created_at, alert_path(alert) %></li>
		<% end %>
	</ul>

</div>