<div id="footer" class="contain-to-grid">
	<div class="row" id="social-icons">
		<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
		<a href="#"><i class="fa fa-facebook fa-2x"></i></a>
		<a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
		<a href="#"><i class="fa fa-instagram fa-2x"></i></a>
	</div>
	<p id="copyright">&copy; TripleB 2015</p>
</div>