<div id="user_id" style="display: none;"><%= current_user.id %></div>
<section id='homepage-hero-signed-in' class='block-splash'>
  <div class='centered'>
    <div class='row'>
      <div class='small-centered columns button-path'>
        <%= link_to "Need assistance", new_alert_path, class: 'button small expant radius hero-button alert' %>
      </div>
      <div class='small-centered columns'>
        <%= link_to "Lend a hand", alerts_path, class: 'button small expant radius hero-button success' %>
      </div>
    </div>
  </div>
</section>