<section id="homepage-hero" class="block">
  <div class='centered'>
    <div class="row">
      <div class="small-10 small-centered columns">
        <%= link_to "Log In", login_path, class: "button small expand radius hero-button" %>
      </div>
    </div>
    <div class="row">
      <div class="small-10 small-centered columns">
        <%= link_to "Sign Up", signup_path, class: "button small expand radius hero-button" %>
      </div>
    </div>
  </div>
</section>
<%= render partial: "shared/footer" %>