<div class='row'>
  <h1 class='small-11 small-centered columns'>Alerts located near you</h1>
</div>
<ul class='row no-bullet'>
  <% @alerts.each do |alert| %>
  <div class='small-11 large-6 small-centered columns'>
    <%= link_to alert.description, alert %>
  </div>
  <% end %>
</ul>
