<div class='row'>
  <h1 class='small-11 small-centered columns'>Alerts located near you</h1>
</div>
<ul class='row no-bullet'>
  <% @locations.each do |location| %>
  <div class='small-11 large-6 small-centered columns'>
    <% if location.locatable_type == "Alert" %>
    <%= link_to location.locatable.description, location.locatable %>
    <% end %>
  </div>
  <% end %>
</ul>
