#page-not-found {
	background: url(../images/404bike.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

#dialog {
	padding-top: 5em;
	text-align: center;
	display: inline-block;
	color: white;
}

div #status {
	font-size: 6em;
}