.profile-layer {
  position: relative;
  height: 30%;
  width: 110%;
  top: -6.6em;
  margin-left: -1em;
  opacity: .7;
  background-color: #00aac8;
}

.direction_map {
  height:500px;
}

.location_map {
  height:500px;
}
#homepage-hero-signed-in {
    background: url(asset-path('bwbike.jpg')) repeat scroll 45% center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;
    padding: 100px 20px 0;
    position: relative;
    text-align: center;
    .hero-button {
      opacity: .775;
    }
}
#homepage-hero {
    background: url(asset-path('Flat-Tire.jpg')) repeat scroll 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;
    padding: 100px 20px 0;
    position: relative;
    text-align: center;
    .logo {
      margin-top: -3em;
      margin-bottom: 3em;
    }
}

.hero-button {
  opacity: .7;
}

.block-splash {
  text-align: center;
  white-space: nowrap;
}

.block-splash:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -1em; /* Adjusts for spacing */
}

.block {
  text-align: center;
  white-space: nowrap;
}

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: 400px;
}
#footer {
  a {
    color: #faf9df;
  }
  position: relative;
  height: 3em;
  bottom: 3em;
  background-color: #252419;
}

#password-div {
  padding-bottom: 3em;
}

#login-page {
  .logo {
    margin-bottom: 0.5em;
  }
  height: 90%;
  background-color: #00aac8;
  h3 {
    padding-bottom: 3em;
  }
  h3, a {
    color: #faf9df;
    opacity: .7;
  }
  a {
    text-decoration: underline;
  }
}

#signup-page{
  .logo {
    margin-bottom: 0.5em;
  }
  .centered{
    height: 90%;
  }
  h3 {
    text-align: left;
    color: #faf9df;
    opacity: .7;
  }
  height: 90%;
  background-color: #00aac8;

}
#sign-up-form {
  padding-bottom: -0.5em;
}