html, body {
  background-color: #bdc2c6;
  height: 100%;
  overflow: auto;
}
#complete-page {
    #on-way-name {
    position: relative;
    top: -2em;
    left: 2.25em;  }
  #on-way-img {
    top: 0.25em;
    left: -7em;  }
  .response {
    p#desc-cont {
      color: #bdc2c6;
      bottom: 10px;
      position: relative;
      left: 0.6em;
    }
      p#on-way {
        color: #bdc2c6;
        position: relative;
        bottom: 4em;
        left: 3em;

      }
    h6 {
      color: #00aac8;
      opacity: 0.6;
      width: 0;
      top: 0em;    }

    background-color: #00aac8;
    position: absolute;
    width: 100%;
    bottom: -3em;
    height: 8em;
    .columns {
      background-color: white;
      top: -0.75em;
      border-radius: 3px;
      height: 3em;
      margin-top: 1.25em;}
    p {
      width: 0;
      color: #faf9df;
    }
    p#response-title {

    }
    p#response-header {
    width: 0;
    color: #faf9df;
    top: -0.5em;
    left: 8px;
    letter-spacing: -0.25px;    }
    p#response-header-2 {
    width: 0;
    color: #faf9df;
    top: -0.5em;
    left: 8px;
    letter-spacing: -0.25px;    }
  }
  .avatar {
    border-style: solid;
    border-color: #faf9df;
    border-width: 3px;
    border-radius: 100%;
    position: relative;
    bottom: 2.75em;
    right: 7.5em;
  }
  .centered {
    height: initial;
  }
  .alert_logo {
    border-radius: 100%;
    position: relative;
    bottom: 1.5em;
  }
  .location-icon {
    position: relative;
    left: 6.5em;
    bottom: 8em;  }
  h3 {
    color: #faf9df;
    margin-top: -1.5em;
    margin-bottom: 0;
    text-align: left;
    position: relative;
    bottom: 2.375em;
  }
  h6 {
    text-align: right;
    position: relative;
    color: #f04124;
    bottom: 7.5em;
    left: 0.5em;  }
    p {
      font-size: 80%;
      position: relative;
      text-align: left;
      bottom: 4.5em;
      left: 4em;
      color: #00aac8;
      width: 75%;
      margin: 0;
    }
  background-color: #bdc2c6;
}

.profile-layer {
  img {
    position: absolute;
    margin-left: -8.5em;
    border-radius: 100%;
    border-style: solid;
    border-color: #faf9df;
    border-width: 3px;
    }
  h3, h6 {
    color: #faf9df;
    }
  position: relative;
  height: 20%;
  width: 109%;
  top: -6.6em;
  margin-left: -1em;
  opacity: .8;
  background-color: #00aac8;
}

.location_map {
  margin-top: -1.5em;
  height: 15em;
}

.direction_map {
  margin-top: -1.5em;
  height: 9em;
}


#alert-incomplete-page {
  .trash-icon {
    position: absolute;
    right: 8.75em;
    bottom: 0.5em;
  }
  .help-icon {
    position: absolute;
    right: 12.75em;
    bottom: 0.5em;
  }
  .response {
    p#desc-cont {
      color: #bdc2c6;
      bottom: 10px;
      position: relative;
      left: 0.6em;    }
    h6 {
      color: #00aac8;
      opacity: 0.6;
      width: 0;
      top: 0em;    }
    background-color: #00aac8;
    position: absolute;
    width: 100%;
    bottom: -7em;
    height: 12em;
    .columns {
      background-color: white;
      top: 1em;
      border-radius: 3px;
      height: 6em;    }
    p {
      width: 0;
      color: #faf9df;
    }
    p#response-title {

    }
    p#response-header {
    width: 0;
    color: white;
    top: 0.5em;
    left: 15px;
    letter-spacing: -0.5px; }
  }
  .avatar {
    border-style: solid;
    border-color: #faf9df;
    border-width: 3px;
    border-radius: 100%;
    position: relative;
    bottom: 2.75em;
    right: 7.5em;
  }
  .centered {
    height: initial;
  }
  .alert_logo {
    border-radius: 100%;
    position: relative;
    bottom: 1.5em;
  }
  .location-icon {
    position: relative;
    left: 6.5em;
    bottom: 8em;  }
  h3 {
    color: #faf9df;
    margin-top: -1.5em;
    margin-bottom: 0;
    text-align: left;
    position: relative;
    bottom: 2.375em;
  }
  h6 {
    text-align: right;
    position: relative;
    color: #f04124;
    bottom: 7.5em;
    left: 0.5em;  }
    p {
      font-size: 80%;
      position: relative;
      text-align: left;
      bottom: 4.5em;
      left: 4em;
      color: #00aac8;
      width: 75%;
      margin: 0;
    }
  background-color: #bdc2c6;
}

#alert-in-progress-page {

  #mech-div {
    background-color: white;
    margin-top: -4.5em;
    margin-bottom: 3em;  }

    p#desc-cont-mech {
      color: #bdc2c6;
      bottom: 10px;
      position: relative;
      left: 0.6em;
    }

    #mech-cancel {
      position: relative;
      bottom: -5.5em;    }

    p#response-header-mech {
      width: 0;
      color: white;
      top: 0.5em;
      left: 8px;
      letter-spacing: -0.25px; }

  #cancel {
    position: absolute;
    right: 14.5em;
    bottom: -0.25em;
  }
  #trash {
    position: absolute;
    right: 3.5em;
    bottom: 3px;  }
  #check {
    position: absolute;
    right: 9em;
    bottom: -0.25em;
  }

  #on-way-name {
    position: relative;
    top: -2.5em;
    left: 2.25em;  }
  #on-way-img {
    top: 0.25em;
    left: -7em;  }
  .response {
    p#desc-cont {
      color: #bdc2c6;
      bottom: 10px;
      position: relative;
      left: 0.6em;
    }
      p#on-way {
        color: #bdc2c6;
        position: relative;
        bottom: 4em;
        left: 3em;

      }
    h6 {
      color: #00aac8;
      opacity: 0.6;
      width: 0;
      top: 0em;    }
    background-color: #00aac8;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 11em;
    .columns {
    background-color: white;
    top: 5em;
    border-radius: 3px;
    height: 3em;
    margin-top: -2.5em; }
    p {
      width: 0;
      color: #faf9df;
    }
    p#response-title {

    }
    p#response-header {
    width: 0;
    color: #faf9df;
    top: -0.5em;
    left: 8px;
    letter-spacing: -0.25px;    }
    p#response-header-2 {
    width: 0;
    color: #faf9df;
    top: -0.5em;
    left: 8px;
    letter-spacing: -0.25px;    }
  }
  .avatar {
    border-style: solid;
    border-color: #faf9df;
    border-width: 3px;
    border-radius: 100%;
    position: relative;
    bottom: 2.75em;
    right: 7.5em;
  }
  .centered {
    height: initial;
  }
  .alert_logo {
    border-radius: 100%;
    position: relative;
    bottom: 1.5em;
  }
  .location-icon {
    position: relative;
    left: 6.5em;
    bottom: 8em;  }
  h3 {
    color: #faf9df;
    margin-top: -1.5em;
    margin-bottom: 0;
    text-align: left;
    position: relative;
    bottom: 2.375em;
  }
  h6 {
    text-align: right;
    position: relative;
    color: #f04124;
    bottom: 7.5em;
    left: 0.5em;  }
    p {
      font-size: 80%;
      position: relative;
      text-align: left;
      bottom: 4.5em;
      left: 4em;
      color: #00aac8;
      width: 75%;
      margin: 0;
    }
  background-color: #bdc2c6;
}

#alert-index-page {
  .small-12 {
    height: 50px
  }
  .location-icon {
    position: relative;
    bottom: 5.25em;
    left: 8em;
  }
  h2 {
    color: white;
    margin-top: -1.5em;
    margin-bottom: 0;
  }
  .alert-listing {
    p {
      font-size: 80%;
      position: relative;
      text-align: left;
      bottom: 4em;
      left: 3.5em;
      color: #bdc2c6;
      width: 75%;
      margin: 0;
    }
    h4 {
      width: 85%;
      position: relative;
      bottom: 3em;
      margin-bottom: 0;
      left: 2.5em;
      text-align: left;
      color: #00aac8;
      opacity: 0.7;
    }
    .columns {
    background-color: white;
    border-radius: 0.25em;
    margin-top: 1em;
      .avatar {
        bottom: 4%;
        right: 45%;
      }
    }
  }
  .avatar {
    border-style: solid;
    border-color: #faf9df;
    border-width: 3px;
    border-radius: 100%;
    position: relative;
    bottom: 2em;
  }
  background-color: #bdc2c6;
}

#alert-index-map {
  margin-top: -1.5em;
  height: 15em;

}

#homepage-hero-signed-in {

    background: url(asset-path('bwbike.jpg')) repeat scroll 45% center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 100px 20px 0;
    position: relative;
    text-align: center;
    .hero-button {
      opacity: .775;
      width:10em;
      margin-bottom: 0px;
      margin-top: 15px;
      top: -2em;
    }
    .button-path {
      padding-bottom: 3em;
    }
}
#homepage-hero {
    background: url(asset-path('Flat-Tire.jpg')) repeat scroll 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 100px 20px 0;
    position: relative;
    text-align: center;
    .logo {
      margin-top: -3em;
      margin-bottom: 3em;
    }
}

.hero-button {
  opacity: .7;
}

.block-splash {
  text-align: center;
  white-space: nowrap;
}

.block-splash:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -1em; /* Adjusts for spacing */
}

.block {
  text-align: center;
  white-space: nowrap;
}

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: 400px;
}
#footer {
  a {
    color: #faf9df;
  }
  position: relative;
  height: 3em;
  bottom: 3em;
  background-color: #252419;
}

#password-div {
  padding-bottom: 3em;
}


#login-page {
  .logo {
    margin-bottom: 0.5em;
  }
  height: 90%;
  background-color: #00aac8;
  h3 {
    padding-bottom: 3em;
  }
  h3, a {
    color: #faf9df;
    opacity: .7;
  }
  a {
    text-decoration: underline;
  }
}

#signup-page{
  .logo {
    margin-bottom: 0.5em;
  }
  .centered{
    height: 90%;
  }
  h3 {
    text-align: left;
    color: #faf9df;
    opacity: .7;
  }
  height: 110%;
  background-color: #00aac8;

}
#sign-up-form {
  padding-bottom: -0.5em;
}