#footer {
	height: 100px;
	background-color: white;
	color: black;
	text-align: center;
	border-top: 1px solid #dcdcdc;
}

#social-icons {
	display: inline-block;
	margin-top: 20px;
}

.fa {
	padding: 0 3px;
}

#copyright {
	font-size: 13px;
	padding-top: 5px;
}