#user-profile-header{
  position: relative;
}

#user-show-edit-button{
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#user-avatar{
  border-style: solid;
  border-color: #faf9df;
  border-width: 3px;
  border-radius: 100%;
  position: absolute;
  bottom: -20%;
  left: 10px;
}

#user-show-page {
  background-color: #ffffff;
}