
#user-edit-page{
  .logo {
    margin-bottom: 0.5em;
  }
  .centered{
    height: 100%;
  }
  h3 {
    text-align: left;
    color: #faf9df;
    opacity: .7;
    padding-top:10px;
  }
  height: 110%;
  background-color: #00aac8;

}
#edit-user-form {
  padding-bottom: -0.5em;
}

