
#signup-page{
  .logo {
    margin-bottom: 0.5em;
  }
  .centered{
    height: 90%;
  }
  h3 {
    text-align: left;
    color: #faf9df;
    opacity: .7;
  }
  height: 90%;
  background-color: #00aac8;

}
#sign-up-form {
  padding-bottom: -0.5em;
}