.location_map {
  margin-top: -32em;
  height: 13em;
}

section#alert-incomplete-page {
  .alert_logo {
    position: absolute;
    border-radius: 100%;
    bottom: 1.5em;
    left: 7.5em;
    top: -2em;
  }
  p {
    font-size: .8em;
    text-align: left;
    line-height: 0%;
    color: #faf9df;
  }
  .new_alert_logo {
    margin-top: -1em;
  }
  .centered {
    position: relative;
    height: 1em;
    top: 2em;
  }
  height: 90%;

}

#creator_header {
  margin-top: -2em;
  background-color: #bdc2c6;
  height: 6em;
}

#description_header {
  margin-top: -2em;
  background-color: #00aac8;
  height: 6em;
}